* {
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
}

/* width="50vw" height="10vh" */
body {
  display: grid;
  grid-template-columns: 1fr 2fr 1fr 2fr 1fr;
}
/* 1 2 1 2 1: first 2 is poster, 2nd 2 is inputs */
/* #user-forms {
} */

#poster-container {
  grid-column-start: 2;
  align-content: center;
}

#movie-poster {
  height: 75vh;
  aspect-ratio: auto;
  border-style: solid;
  box-shadow: 5px;
}

#user-forms {
  grid-column-start: 4;
  align-content: center;
}

#radioboxes {
  display: flex;
  flex-direction: row;
  padding: 5px;
}

#text-box {
  width: 500px;
  height: 10vh;
}

.radio-buttons {
  display: block;
}

.radio-label {
  display: flex;
  flex-direction: row;
}
